.navbar {
    background-color: rgb(213, 194, 187);
}

.masthead {
    height: 50vh;
    min-height: 350px;
    background-image: url(/static/images/header.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.col-md-5 img {
    width: 100%;
}

.col-md-7 p {
    width: 100%;
}