{% extends "base.html" %} {% block content %}

<!-- about.html content starts here -->


{% for stylist in stylist_list %}

<div class="featurette">
    {% if forloop.counter|divisibleby:2 %}

    <div class="col-md-7">
        <h3>{{ stylist.stylist_name }}</h3>
        <p>
            {{ stylist.bio }}
        </p>
        <p>
            Speciality: {{ stylist.speciality}}
        </p>
        <p>
            Price: {{ stylist.price }}
        </p>
    </div>
    <div class="col-md-5">
       <!-- <img src="" alt="" class="featurette-image image-responsive">-->
    </div>

    {% else %}

    <div class="col-md-5">
        <!--<img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">-->
    </div>
    <div class="col-md-7">
        <h3>{{ stylist.stylist_name }}</h3>
        <p>
            {{ stylist.bio }}
        </p>
        <p>
            Speciality: {{ stylist.speciality}}
        </p>
        <p>
            Price: {{ stylist.price }}
        </p>
    </div>

    {% endif %}
</div>
{% if not forloop.last %}

<hr class="featurette-divider">

{% endif %}

{% endfor %}

{% endblock %}

